.DS_Store
/nbproject/
/application/logs/
/application/cache/
/application/tests/_ci_phpunit_test/tmp/
/build/
/public/captcha/
/vendor/
/tmp/
tests/_output/*
.idea/
chromedriver
geckodriver
selenium-server-standalone-*.jar
