language: php

php:
  - 7.3
  - 7.4

matrix:
  allow_failures:
    - php: 7.3

services:
  - mysql

before_script:
  - composer self-update
  - composer install
  - mysql -uroot -e "CREATE DATABASE codeigniter DEFAULT CHARACTER SET utf8;"
  - mysql -uroot -e "GRANT ALL PRIVILEGES ON codeigniter.* TO username@localhost IDENTIFIED BY 'password';"
  - php cli migrate
  - php cli seed

script:
  - cd application/tests/
  - php ../../vendor/bin/phpunit --coverage-text

after_script:
  - cd ../..
  - if [[ "$TRAVIS_PHP_VERSION" == "7.4" ]]; then php vendor/bin/coveralls -v; fi
